@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900');

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 700
}

body {
    background: #02060E;
}

.cointdown-text {
    animation: countdown 1s infinite;
}
@keyframes countdown {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 1;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        opacity: 0.7;
    }
}
.nav-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.team-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #141414d8;
    padding: 30px 20px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    border: 2px solid #2e2e2e;
    height: 10px;
}

.team-card:hover {
    transform: scale(1.05);
}

.team-card .team-username {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    flex-direction: row;
}

.team-card .team-username h3 {
    color: #c7c7c7;
    font-size: 20px;
    font-weight: 600;
}

.team-card .team-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    flex-direction: row;
}

.team-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .team-row {
        flex-direction: column;
    }
    .team-card {
        margin-bottom: 20px;
    }
}

.nav-items {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #141414af;
    backdrop-filter: blur(40px);
    height: 55px;
    border-radius: 50px;
    padding: 0px 20px;
    box-shadow: inset 0px 0px 10px 0px #202020;
    border: 2px solid #2e2e2e;
}

@media (max-width: 768px) {
    .nav-items {
        padding: 10px 20px;
        margin-top: 20px;
    }
}

@keyframes nav-items-enter {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.main-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.other-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes main-text-change {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    10% {
        opacity: 1;
        transform: translateY(0px);
    }
    90% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

.sub-text-think {
    font-size: 20px;
    color: #fff;
    animation: sub-text-highlight 4s ease-in-out infinite;
}

.sub-text-make {
    font-size: 20px;
    color: #fff;
    animation: sub-text-highlight 8s ease-in-out infinite;
}

.sub-text-solve {
    font-size: 20px;
    color: #fff;
    animation: sub-text-highlight 16s ease-in-out infinite;
}

@keyframes sub-text-highlight {
    0% {
        scale: 1;
        color: #fff
    }
    40% {
        scale: 1.2;
        color: #008bdb
    }
    60% {
        scale: 1.2;
        color: #fff
    }
    100% {
        scale: 1;
        color: #fff
    }
}

.project-card {
    cursor: pointer;
    --gradient-1: rgb(5, 5, 12);
    --gradient-2: rgba(5, 5, 12, .9);
    --gradient-3: rgba(5, 5, 12, .5);
    background: linear-gradient(10deg, var(--gradient-1), var(--gradient-1), var(--gradient-2), var(--gradient-3)), var(--card-banner);
    background-size: cover;
    border: 2px solid #2e2e2e;
    border-radius: 20px;
}

.project-card:hover {
    transform: scale(1.05);
}

.tech-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #141414d8;
    padding: 30px 20px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    border: 2px solid #2e2e2e;
    height: 30px;
}

.tech-card:hover {
    transform: scale(1.05);
}

.tech-card .tech-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.tech-card .tech-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.tech-card .tech-icon img {
    width: 30px;
    height: 30px;
}

@media (max-width: 768px) {
    .tech-card .tech-title {
        display: none;
    }
}

.tech-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.text-casing {
    width: fit-content;
    border: 1px solid #c2c2c2;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #c2c2c2;
    background: #c2c2c24b;
}

.bg-text-blue.jsx-ed981c243ab0ceaf{@supports(background-clip:text)or (-webkit-background-clip:text){background-image:url("data:image/svg+xml,%3Csvg width='1550' height='750' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%23449DD1' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%231C7DBE'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%230057A8'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%2300408F'/%3E%3C/g%3E%3C/svg%3E%0A");-webkit-background-size:150%auto;-moz-background-size:150%auto;-o-background-size:150%auto;background-size:150%auto;background-position:center;color:transparent;-webkit-background-clip:text;background-clip:text}}

/*.bg-text-gray.jsx-1b2b5b2a3b6a5b5a{@supports(background-clip:text)or (-webkit-background-clip:text){background-image:url("data:image/svg+xml,%3Csvg width='1550' height='750' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%23BDBDBD' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%23808080'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%23666666'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23595959'/%3E%3C/g%3E%3C/svg%3E%0A");-webkit-background-size:150%auto;-moz-background-size:150%auto;-o-background-size:150%auto;background-size:150%auto;background-position:center;color:transparent;-webkit-background-clip:text;background-clip:text}}*/
